@media only screen and (max-width: 515px) {
  #about,
  .about-container,
  .intro,
  .title {
    margin: 0;
    padding: 0;
  }

  section {
    padding: 15px 0;
  }

  .intro,
  .description {
    padding: 30px 0;
  }

  .nav-item {
    margin: 0 20px 0 20px;
  }
  .nav-link p {
    font-size: 12px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .intro {
    width: 100%;
    text-align: center;
  }

  .description {
    width: 90%;
    padding: 50px;
  }

  .description p {
    font-size: 14px;
  }

  .social {
    margin: auto;
  }

  .experience-section-header {
    grid-column: 3 / 23;
    text-align: center;
  }

  .current {
    grid-column: 1 / 25;
    background: lightblue;
  }

  .second {
    grid-row: 2;
    grid-column: 1 / 25;
  }

  .first {
    grid-row: 3;
    grid-column: 1 / 25;
  }

  .technology-section-header {
    grid-column: 3 / 23;
    text-align: center;
  }

  .technology-section-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .content {
    display: flex;
    width: auto;
    justify-content: center;
  }

  .container {
    display: grid;
    grid-template: 1fr / repeat(24, 1fr);
  }

  .certificate-section-header {
    grid-column: 2 / 24;
    text-align: center;
  }

  .certificate-section-content {
    grid-column: 5 / 23;
  }

  .certificate-section-content ul {
    list-style: none;
  }

  .certificate-section-content h4 {
    font-size: 16px;
  }

  .certificate-section-content p {
    font-size: 10px;
  }

  .experience-section-header,
  .technology-section-header,
  .certificate-section-header {
    padding-bottom: 15px;
  }

  footer {
    height: 2.5vh;
    font-size: 10px;
  }
}
