/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 30px 0;
}

.navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 20px 0;
}

.navigation-items {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0 40px 0 40px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link p {
  font-size: 18px;
  font-family: "Space Mono", monospace;
}

#about {
  display: flex;
  padding: 40px 50px 40px 100px;
}

.about-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.intro {
  width: 30%;
}

.description {
  width: 45%;
  box-shadow: 7px 6px 0px 0px rgba(0, 0, 0, 0.51);
}

.title h1 {
  font-size: 72px;
  font-family: "Merriweather", serif;
}

.title p {
  font-size: 36px;
  font-family: "Roboto Mono", monospace;
}

.title,
.social {
  padding: 10px 0;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.social button {
  width: 140px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 25px;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.social button a {
  text-decoration: none;
  color: black;
}

.social img {
  height: 32px;
  width: 32px;
}

.description {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(237, 240, 234, 0.5);
  border-radius: 30px;
  padding: 50px;
}

.description p {
  font-size: 18px;
  font-family: "Roboto Mono", monospace;
}

.container {
  display: grid;
  grid-template: 1fr 3fr / repeat(24, 1fr);
}

.experience-section-header {
  grid-column: 3 / 7;
  font-family: "Space Mono", monospace;
}

.organizations {
  display: grid;
  grid-row: 2;
  grid-column: 2 / 24;
  grid-template: repeat(3, 1fr) / repeat(24, 1fr);
  row-gap: 15px;
}

.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px 15px 35px;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}

.duration {
  font-size: 16px;
}

.current,
.second,
.first {
  background: lightgray;
  border-radius: 50px;
}

.current {
  grid-column: 14 / 24;
  background: lightblue;
}

.second {
  grid-row: 2;
  grid-column: 8 / 15;
}

.first {
  grid-row: 3;
  grid-column: 2 / 9;
}

.technology-section-header {
  grid-column: 3 / 9;
  font-family: "Space Mono", monospace;
}

.technology-section-content {
  display: grid;
  grid-row: 2;
  grid-column: 3 / 23;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.content-items ul {
  list-style: none;
}

.content {
  background: lightgray;
  border-radius: 15px;
  height: 200px;
  min-width: 270px;
  font-family: "Space Mono", monospace;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 0;
  box-shadow: 7px 6px 0px 0px rgba(0, 0, 0, 0.51);
}

.content-header {
  text-decoration: underline;
}

.content-items {
  text-align: center;
  padding: 10px;
}

.content-items ul li {
  padding: 5px;
}

.certificate-section-header {
  grid-column: 3 / 11;
  font-family: "Space Mono", monospace;
}

.certificate-section-content {
  grid-row: 2;
  grid-column: 4 / 23;
  font-family: "Space Mono", monospace;
}

footer {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
  background: lightgray;
  font-size: 16px;
}
